* {
  box-sizing: border-box;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, 0);
}

.no-click {
  pointer-events: none;
}

.error {
  background-color: black;
  color: red;
  font-weight: 800;
  position: fixed;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: showopa 10s;
}

@keyframes showopa {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-section {
  text-align: center;
}

.search-container {
  text-align: center;
  margin-bottom: 5px;
}

.search-input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
  transition: 1s;
}

.search-button {
  padding: 10px;
  background: #0a7ad6;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  transition: 1s;
}

.search-input:hover {
  background: #c7c4c4;
  transition: 1s;
}

.search-button:hover {
  background: #085ba0;
  transition: 1s;
}

.main_title {
  color: rgb(238, 238, 20);
  -webkit-text-stroke: 1px blue;
  font-size: 78px;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 10px;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.show-collect {
  font-size: 27px;
  font-weight: 600;
}

.poke-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 235px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;

  background: rgb(197, 205, 0);
  background: linear-gradient(
    207deg,
    rgba(197, 205, 0, 1) 0%,
    rgba(222, 164, 16, 1) 35%,
    rgba(175, 61, 61, 1) 100%
  );
  border: 2px black solid;
  border-radius: 10px;
}

.item-card {
  margin: 2px;
}

.image {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.image-wrapper {
  position: relative;
}

.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: aliceblue;
  transition: opacity 0.45s;
  border-radius: 50%;
}

.image-hover:hover {
  opacity: 1;
}

.types__card {
  margin: 10px;
}

.type-label {
  margin: 10px;
}

.title-card {
  font-size: x-large;
  font-weight: 700;
}

.collection {
  background: rgba(255, 249, 163, 0.4);
  padding: 10px 0;
  margin: 5px 10px;
  border-radius: 10px;
  height: 335px;
}

.types {
  background: rgba(255, 249, 163, 0.4);
  padding: 10px 0;
  margin: 5px 10px;
  border-radius: 10px;
  height: 290px;
}

.btn {
  cursor: pointer;
  background: rgb(240, 28, 28);
  padding: 5px 10px;
  border: 2px solid rgb(194, 191, 191);
  border-radius: 10px;
  color: white;
  transition: 1s;
}

.btn:hover {
  background: rgb(175, 19, 19);
  transition: 1s;
}
