* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-section {
  text-align: center;
  padding-bottom: 20px;
}

.main_title {
  color: rgb(238, 238, 20);
  -webkit-text-stroke: 1px blue;
  font-size: 90px;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 5px;
}

.show-collect {
  font-size: 27px;
  font-weight: 600;
}

.poke-card {
  display: flex;
  flex-direction: column;

  background-color: aliceblue;
}

#cf {
  position: relative;
  height: 281px;
  width: 450px;
  margin: 0 auto;
}

#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity: 0;
}
